<head> 
	
	<%= stylesheet_link_tag "buttons" %>

</head>

<h2> Gesti칩n </h2>

<td><%= link_to 'gesti칩n de asociados',  select_associate_management_path, class: 'button' %></td>
<br>
<td><%= link_to 'gesti칩n de actividades', select_activity_management_path, class: 'button' %></td>

<h2> Asistencias </h2>

<td><%= link_to 'nueva asistencia',  new_attendance_path,  class: 'button' %></td>
<br>
<td><%= link_to 'ver asistencias',  attendances_path, class: 'button' %></td>
<%= link_to 'Atr치s',  welcome_index_path, class: 'button' %>