<%= form_with(model: associate, local: true) do |form| %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :associate_code %>
  </div>

  <div class="field">
    <%= form.label 'nombre' %>
    <%= form.text_field :name, id: :associate_name %>
  </div>

  <div class="field">
    <%= form.label 'apellido' %>
    <%= form.text_field :last_name, id: :associate_last_name %>
  </div>

  <div class="field">
    <%= form.label 'posición' %>
    <%= form.text_field :position, id: :associate_position %>
  </div>

  <div class="field">
    <%= form.label 'patrocinador' %>
    <%= form.text_field :sponsor, id: :associate_sponsor %>
  </div>

  <div class="field">
    <%= form.label 'presidente ascendente' %>
    <%= form.text_field :ascending_president, id: :associate_ascending_president %>
  </div>

  <div class="field">
    <%= form.label 'tabulador ascendente' %>
    <%= form.text_field :ascending_tabulator, id: :associate_ascending_tabulator %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
