
<head> 
 <%= stylesheet_link_tag "forms" %>

</head>


<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<body>
<div class="container">
  <div class="field">
    <%= form.label "Nombre*" %>
    <%= form.text_field :name, id: :activity_name, :required => true, oninvalid: 'this.setCustomValidity("Este campo no debe estar vacío.")', oninput: 'this.setCustomValidity("")'%>
  </div>
  <div class="field">
    <%= form.label "Día 1*" %>
    <%= form.text_field :day_1, id: :schedule_day_1, :required => true, oninvalid: 'this.setCustomValidity("Este campo no debe estar vacío.")', oninput: 'this.setCustomValidity("")' %>
  </div>
  <div class="field">
    <%= form.label "Día 2*" %>
    <%= form.text_field :day_2, id: :schedule_day_2, :required => true, oninvalid: 'this.setCustomValidity("Este campo no debe estar vacío.")', oninput: 'this.setCustomValidity("")' %>
  </div>
  <div class="field">
    <%= form.label "Día 3*" %>
    <%= form.text_field :day_3, id: :schedule_day_3, :required => true, oninvalid: 'this.setCustomValidity("Este campo no debe estar vacío.")', oninput: 'this.setCustomValidity("")' %>
  </div>
  <div class="field">
    <%= form.label "Día 4" %>
    <%= form.text_field :day_4, id: :schedule_day_4 %>
  </div>
  <div class="field">
    <%= form.label "Día 5" %>
    <%= form.text_field :day_5, id: :schedule_day_5 %>
  </div>
  <div class="field">
    <%= form.label "Hora de inicio*" %>
    <%= form.text_field :starting_time, id: :schedule_starting_time, :required => true, oninvalid: 'this.setCustomValidity("Este campo no debe estar vacío.")', oninput: 'this.setCustomValidity("")' %>
  </div>
  <div class="field">
    <%= form.label "Hora de fin*" %>
    <%= form.text_field :ending_time, id: :schedule_ending_time, :required => true, oninvalid: 'this.setCustomValidity("Este campo no debe estar vacío.")', oninput: 'this.setCustomValidity("")' %>
  </div>
    <div class="field">
    <%= form.label "Activa" %>
        <br>
    <%= form.check_box :active, id: :activity_active %>
  </div>
  <br>

  <div class="actions">
    <%= form.submit 'Crear actividad' %>
  </div>
<% end %>

</div>

</body>
