<p id="notice"><%= notice %></p>


<head> 
 <%= stylesheet_link_tag "tables" %>
 <%= stylesheet_link_tag "buttons" %>
</head>

<body>
  <h1>Horarios</h1>
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>Actividad</span></th>
        <th><span>Día 1</span></th>
        <th><span>Día 2</span></th>
        <th><span>Día 3</span></th>
        <th><span>Día 4</span></th>
        <th><span>Día 5</span></th>
        <th><span>Hora de inicio</span></th>
        <th><span>Hora de fin</span></th>
        <th><span>Gestión</span></th>
        <th><span></span></th>
      </tr>
    </thead>
    <tbody>
      <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td class="lalign"><%= schedule.name %></td>
        <td><%= schedule.day_1 %></td>
        <td><%= schedule.day_2 %></td>
        <td><%= schedule.day_3 %></td>
        <td><%= schedule.day_4 %></td>
        <td><%= schedule.day_5 %></td>
        <td><%= schedule.starting_time %></td>
        <td><%= schedule.ending_time %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule), class: 'button' %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?'},  class: 'button'  %>
        </td>
      </tr>
    <% end %>
      
    </tbody>
  </table>
 </div> 

<br>

<%= link_to 'Atrás', select_activity_management_path,  class: 'button'  %>
<%= link_to 'Nuevo horario', new_schedule_path, class: 'button'  %>

