<p id="notice"><%= notice %></p>

<body class="background_image">
  <h1>Horarios</h1>

    <table class="table table-sm">
    <thead>
      <tr class="bg-success">
        <th scope="col">Actividad</th>
        <th scope="col">Día 1</th>
        <th scope="col">Día 2</th>
        <th scope="col">Día 3</th>
        <th scope="col">Día 4</th>
        <th scope="col">Día 5</th>
        <th scope="col">Hora de inicio</th>
        <th scope="col">Hora de fin</th>
        <th scope="col">Gestión</th>
        <th scope="col">  </th>
      </tr>
    </thead>
    <tbody>
      <tbody>
    <% @schedules.each do |schedule| %>
      <tr class="table-light">
        <td><%= schedule.name %></td>
        <td><%= schedule.day_1 %></td>
        <td><%= schedule.day_2 %></td>
        <td><%= schedule.day_3 %></td>
        <td><%= schedule.day_4 %></td>
        <td><%= schedule.day_5 %></td>
        <td><%= schedule.starting_time %></td>
        <td><%= schedule.ending_time %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule), class: 'btn btn-success btn-lg'  %></td>
        <td><%= button_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-success btn-lg'  %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'Atrás', select_activity_management_path,  class: 'btn btn-success btn-lg'  %>


