<p id="notice"><%= notice %></p>

<head> 
 <%= stylesheet_link_tag "tables" %>
 <%= stylesheet_link_tag "buttons" %>
</head>

<h1>Tarifas</h1>

  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>Posición</span></th>
        <th><span>Actividad</span></th>
        <th><span>Tarifa</span></th>
      </tr>
    </thead>

  <tbody>
    <% @prices.each do |price| %>
      <tr>
        <td class="lalign"><%= price.position %></td>
        <td><%= price.activity %></td>
        <td><%= price.price %></td>
        <td><%= button_to 'Modificar', edit_price_path(price), method: :get, class: 'button' %></td>
        <td><%= button_to 'Eliminar', price, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nueva Tarifa', new_price_path, method: :get, class: 'button' %>
