<p id="notice"><%= notice %></p>

<h1>Actividades</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Activa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.active %></td>
        <td><%= link_to 'Mostrar', activity %></td>
        <td><%= link_to 'Modificar', edit_activity_path(activity) %></td>
        <td><%= link_to 'Eliminar', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Actividad', new_activity_path %>
