<p id="notice"><%= notice %></p>

<body class="background_image">
<h1>Actividades</h1>
  <table class="table table-sm">
    <thead>
      <tr class="bg-success">
        <th scope="col">Nombre</th>
        <th scope="col">Activa</th>
        <th scope="col">Gestión</th>
        <th scope="col">  </th>
      </tr>
    </thead>
    <tbody>
      <tbody>
     <% @activities.each do |activity| %>
      <tr class="table-light">
        <td><%= activity.name %></td>
        <td><%= activity.active %></td>
        <td><%= link_to 'Modificar', edit_activity_path(activity), class: 'btn btn-success btn-lg'   %></td>
        <td><%= button_to 'Eliminar', activity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success btn-lg'  %> </td>
      </tr>
      </tr>
    <% end %>
    </tbody>
  </table>
</body>

<br>
<%= link_to 'Atrás', select_activity_management_path,  class: 'btn btn-success btn-lg'  %>

