
<head> 
 <%= stylesheet_link_tag "forms" %>
</head>

<%= form_with(model: associate, local: true) do |form| %>
  <% if associate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(associate.errors.count, "error") %> prohibited this associate from being saved:</h2>

      <ul>
      <% associate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

  <div class="field">
    <%= form.label 'Código*' %>
    <%= form.number_field :code, id: :associate_code, :required => true, oninvalid: 'this.setCustomValidity("Este campo no debe estar vacío.")', oninput: 'this.setCustomValidity("")' %>
  </div>

 <div class="field">
    <%= form.label 'Posición*' %>
    <%= form.number_field :position, id: :associate_code, :required => true, oninvalid: 'this.setCustomValidity("Este campo no debe estar vacío.")', oninput: 'this.setCustomValidity("")' %>
  </div>

  <div class="field">
    <%= form.label 'Nombre*' %>
    <%= form.text_field :name, id: :associate_name, :required => true, oninvalid: 'this.setCustomValidity("Este campo no debe estar vacío.")', oninput: 'this.setCustomValidity("")' %>
  </div>

  <div class="field">
    <%= form.label 'Apellido*' %>
    <%= form.text_field :last_name, id: :associate_last_name, :required => true, oninvalid: 'this.setCustomValidity("Este campo no debe estar vacío.")', oninput: 'this.setCustomValidity("")' %>
  </div>

  <div class="field">
    <%= form.label 'Patrocinador' %>
    <%= form.text_field :sponsor, id: :associate_sponsor %>
  </div>

  <div class="field">
    <%= form.label 'Presidente ascendente' %>
    <%= form.text_field :ascending_president, id: :associate_ascending_president %>
  </div>

  <div class="field">
    <%= form.label 'Tabulador ascendente' %>
    <%= form.text_field :ascending_tabulator, id: :associate_ascending_tabulator %>
  </div>

  <div class="actions">
    <%= form.submit 'Crear asociado' %>
  </div>
<% end %>
</div>

