<p id="notice"><%= notice %></p>

 <body class="background_image">
  <h1>Asociados</h1>


  <table class="table table-sm">
    <thead>
      <tr class="bg-success">
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Posición</th>
        <th scope="col">Patrocinador</th>
        <th scope="col">Presidente ascendente  </th>
        <th scope="col">Tabulador ascendente  </th>
        <th scope="col">Último pago  </th>
        <th scope="col">Gestión  </th>
        <th scope="col">  </th>
      </tr>
    </thead>
    <tbody>
      <tbody>
    <% @associates.each do |associate| %>
      <tr class="table-light">
        <td><%= associate.code %></td>
        <td><%= associate.name %></td>
        <td><%= associate.last_name %></td>
        <td><%= associate.position %></td>
        <td><%= associate.sponsor %></td>
        <td><%= associate.ascending_president %></td>
        <td><%= associate.ascending_tabulator %></td>
        <td><%= associate.last_payment %></td>
        <td><%= link_to 'Modificar', edit_associate_path(associate), class: 'btn btn-success btn-lg'  %></td>
        <td><%= button_to 'Eliminar', associate,  data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-success btn-lg' %>   </td>
      </tr>
    <% end %>
    </tbody>
  </table>

   <%= link_to 'Atrás', select_associate_management_path, class: 'btn btn-success btn-lg' %>

</body>
