<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :associate_code %>
    <%= form.text_field :associate_code, id: :attendance_associate_code %>
  </div>


  <div class="field">
    <%= form.label :activity_name %>
      <%= form.select(:activity_name, @names, :required => true) %>

  </div>



  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :attendance_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
