
<head> 
 <%= stylesheet_link_tag "forms" %>
</head>

<body class="background_image">
<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="field">
    <%= form.label 'Código asociado' %>
    <%= form.text_field :associate_code, id: :attendance_associate_code %>
  </div>


  <div class="field">
    <%= form.label 'Actividad' %>
    <%= form.select(:activity_name, @names, :required => true) %>
  </div>

  <div class="actions">
    <%= form.submit 'Crear asistencia', class: 'btn btn-success btn-lg btn-block' %>
  </div>
<% end %>
</div>
</body>
