<p id="notice"><%= notice %></p>


<body class="background_image">

<h1>Asistencias</h1>

  <table class="table table-sm">
    <thead>
      <tr class="bg-success">
        <th scope="col">Código</th>
        <th scope="col">Actividad</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tbody>
     <% @attendances.each do |attendance| %>
      <tr class="table-light">
        <td><%= attendance.associate_code %></td>
        <td><%= attendance.activity_name %></td>
        <td><%= attendance.date %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<br>

<%= link_to 'Atrás', select_index_path, class: 'btn btn-success btn-lg' %>
</body>
